@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navbar {
  background: linear-gradient(298deg, #ff2c76 -3%, #ef6b9c, #ff2f73);
}

.navbar-toggler .iconify {
  color: #fff;
}

.navbar-light .navbar-toggler {
  border-color: #ffffff54;
}

#navbarSupportedContent {
  padding: 0 15px;
}

#navbarSupportedContent .nav-link {
  font-weight: 500;
  padding: 4px 13px;
  color: #ffffff;
  border-radius: 4px;
  margin: 0 3px;
}

@media (max-width: 1024px) {
  #navbarSupportedContent .nav-link {
    font-size: 13px;
  }
}

#navbarSupportedContent .nav-link:hover {
  background: #ec92ba94;
  color: #fff;
}

.dropdown-item {
  font-size: 14px;
}

.dropdown-item:hover {
  background: #ee6373;
  color: #fff;
}

@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1170px;
  }
}

body {
  overflow-x: hidden;
  color: #595a5a;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #e91e63;
  border-color: #e91e63;
}

.btn-theme {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 400;
  color: #fff;
  background: #e91e63;
  padding: 7px 20px;
  border: solid;
  border: 1px solid #e91e63;
  border-radius: 50px;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.btn-theme:hover {
  background: transparent;
  border-color: #e91e63;
  color: #e91e63;
}

.brand {
  max-width: 190px;
}

.header-main {
  background: url(../images/banner/1.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center right;
}

@media (max-width: 1024px) {
  .header-main {
    background-position: 387% 59%;
  }
}

@media (max-width: 768px) {
  .header-main {
    background-position: 231% 77px;
  }
}

@media (max-width: 600px) {
  .header-main {
    background-position: 222px 76px;
  }
}

.header-main .navbar {
  padding-top: 2.2rem;
}

.header-main .dropdown-menu[data-bs-popper] {
  right: 0 !important;
  left: unset !important;
}

@media (max-width: 425px) {
  .header-main .navbar-brand {
    width: 220px;
  }
}

.header-main .slider {
  padding: 0 15px;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .header-main .slider {
    height: 50vh;
  }
}

.header-main .slider .slideInfo h1 {
  color: #204476;
  font-family: fund;
  font-weight: revert;
}

.header-main .slider .slideInfo p {
  color: #05334E;
}

.blog-aside .categori {
  border: 1px solid #e5e9f4;
  padding: 22px 30px 22px;
  margin-top: 30px;
}

.blog-aside .categori .title {
  font-size: 24px;
  line-height: 34px;
  font-weight: 700;
  color: #252a32;
  display: block;
  text-align: center;
  margin-bottom: 17px;
}

.blog-aside .categori .separator {
  background: #eeeeee;
  width: 195px;
  height: 2px;
  display: block;
  margin: 0 auto;
}

.blog-aside .categori .categori-list {
  padding-left: 0px;
  margin-bottom: 0px;
  margin-top: 17px;
}

.blog-aside .categori .categori-list li {
  list-style: none;
  line-height: 36px;
}

.blog-aside .categori .categori-list li a {
  color: #05334E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  text-decoration: none;
}

.blog-aside .categori .categori-list li a span {
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.blog-aside .categori .categori-list li a:hover {
  color: #e91e63;
}

.blog-aside .categori .categori-list li a:hover span:first-child {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

.blog-aside .recent-post-widget {
  border: 1px solid #e5e9f4;
  padding: 20px 30px 28px;
  margin-top: 30px;
}

.blog-aside .recent-post-widget .title {
  font-size: 24px;
  line-height: 34px;
  font-weight: 700;
  color: #252a32;
  display: block;
  text-align: center;
  margin-bottom: 17px;
}

.blog-aside .recent-post-widget .separator {
  background: #eeeeee;
  width: 195px;
  height: 2px;
  display: block;
  margin: 0 auto;
}

.blog-aside .recent-post-widget .post-list {
  padding-left: 0px;
  margin-bottom: 0px;
  margin-top: 30px;
}

.blog-aside .recent-post-widget .post-list li {
  list-style: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.blog-aside .recent-post-widget .post-list li .post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog-aside .recent-post-widget .post-list li .post .post-img {
  margin-right: 20px;
}

.blog-aside .recent-post-widget .post-list li .post .post-img img {
  width: 73px;
  height: 59px;
}

.blog-aside .recent-post-widget .post-list li .post .post-details {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.blog-aside .recent-post-widget .post-list li .post .post-details a {
  text-decoration: none;
  outline: none;
}

.blog-aside .recent-post-widget .post-list li .post .post-details a .post-title {
  font-weight: normal;
  font-size: 14px;
  color: #2f3744;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.blog-aside .recent-post-widget .post-list li .post .post-details a .post-title:hover {
  color: #e91e63;
}

.blog-aside .recent-post-widget .post-list li .post .post-details .date {
  color: #7b8698;
  font-size: 12px;
  margin-bottom: 0px;
}

.blog-aside .serch-form {
  position: relative;
}

.blog-aside .serch-form input {
  width: 100%;
  height: 50px;
  outline: 0;
  border: 2px solid #f2f2f2;
  background: #f7f8fc;
  padding: 0px 50px 0px 20px;
}

.blog-aside .serch-form button {
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  width: 50px;
  border: none;
  background: none;
  cursor: pointer;
}

.blog-details {
  padding: 50px 0;
}

.blog-details .blog-content .feature-image img {
  width: 100%;
}

.blog-details .blog-content .content .post-meta {
  padding-left: 0px;
  margin-bottom: 20px;
  margin-top: 12px;
}

.blog-details .blog-content .content .post-meta li {
  list-style: none;
  display: inline;
}

.blog-details .blog-content .content .post-meta li a {
  font-size: 14px;
  margin-right: 10px;
  color: #05334E;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  text-decoration: none;
}

.blog-details .blog-content .content .post-meta li a i {
  font-size: 13px;
}

.blog-details .blog-content .content .post-meta li a:hover {
  color: #e91e63;
}

.blog-details .blog-content .content .title {
  font-size: 28px;
  line-height: 38px;
  font-weight: 600;
  color: #05334E;
}

.blog-details .blog-content .content .tag-social-link {
  background: #f3f6ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 12px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 0;
}

.blog-details .blog-content .content .tag-social-link .tag .title {
  font-size: 14px;
  color: #000000;
  display: inline-block;
  margin-bottom: 0px;
  line-height: inherit;
}

.blog-details .blog-content .content .tag-social-link .tag a {
  color: #545558;
  font-size: 14px;
  display: inline-block;
  margin-bottom: 0px;
  text-decoration: none;
}

.blog-details .blog-content .content .tag-social-link .social-links {
  padding-left: 0;
  margin-bottom: 0;
}

.blog-details .blog-content .content .tag-social-link .social-links li {
  display: inline-block;
}

.blog-details .blog-content .content .tag-social-link .social-links li a {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 30px;
  font-size: 14px;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
  color: #fff;
  margin-left: 2px;
  background: #e91e63;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.blog-details .blog-content .content .tag-social-link .social-links li a:hover {
  -webkit-box-shadow: 0px 10px 30px 0px #5a3ef14d;
          box-shadow: 0px 10px 30px 0px #5a3ef14d;
}

.blog-details .blog-content .content .tag-social-link .social-links li a i {
  margin-top: 8px;
}

.blog {
  padding: 50px 0;
}

.blog .blog-box {
  position: relative;
  background: #f1f1f1;
  padding: 10px;
  margin-bottom: 24px;
  border: 1px solid #f1f1f1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.blog .blog-box:hover {
  -webkit-box-shadow: 0px 10px 20px #0000001a;
          box-shadow: 0px 10px 20px #0000001a;
}

.blog .blog-box:hover .photo {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.blog .blog-images {
  width: 100%;
  display: inline-block;
  overflow: hidden;
  position: relative;
}

.blog .blog-images .photo {
  width: 100%;
  height: auto;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  overflow: hidden;
}

.blog .blog-images .photo img {
  width: 100%;
}

.blog .blog-images .box-date {
  position: absolute;
  background: #e91e63;
  z-index: 2;
  bottom: 0;
  left: 0;
  height: 50px;
  width: 50px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 13px;
  padding: 0;
  color: #fff;
}

.blog .blog-images .box-date p {
  margin: 0;
}

.blog .details {
  padding: 5px 0px 5px;
}

.blog .details .blog-text {
  font-size: 13px;
  color: #333333;
  line-height: 1.625;
}

.blog .details a {
  text-decoration: none;
}

.blog .details a .blog-title {
  font-size: 16px;
  color: #05334E;
  margin-top: 10px;
  text-decoration: none;
}

.blog .details .read-more-btn {
  border: 1px solid #e91e63;
}

.theme-bg {
  background: linear-gradient(101deg, #ff2c76 -3%, #fff8c6, #ff2f73);
}

.form-check-input {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  display: none;
}

.form-check-input:checked + label {
  color: white;
  background: linear-gradient(60deg, #ff776d, #ffb84f);
}

.qsoptions label {
  cursor: pointer;
  padding: 6px 6px;
  border-radius: 16px;
  color: #828282;
  vertical-align: middle;
  width: 100%;
  margin: 3px 0;
  font-size: 13px;
  text-align: center;
  background: white;
  -webkit-box-shadow: inset 0 0 8px #00000036;
          box-shadow: inset 0 0 8px #00000036;
}

.qsoptions label:hover {
  background: linear-gradient(60deg, #ff776d, #ffb84f);
  color: #fff;
}

.custom-card {
  -webkit-box-shadow: -1px 8px 10px #00000024;
          box-shadow: -1px 8px 10px #00000024;
  font-family: 'Poppins', sans-serif;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px !important;
  overflow: hidden;
  background: #f1f1f1;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  position: relative;
  border: 1px solid #e6e6e6;
  background: repeating-linear-gradient(309deg, #ffffff 13%, #f1f0f0fc 100px);
}

.custom-card:hover {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  z-index: 10;
}

.custom-card .qs-title {
  color: #ffffff;
  font-size: 14px;
  position: relative;
  z-index: 1;
  line-height: 1.4;
}

.custom-card small {
  z-index: 1;
  color: #fff;
}

.custom-card:before {
  content: '';
  height: 98px;
  width: 100%;
  position: absolute;
  background: linear-gradient(331deg, #ff6363, #ff71b4);
  top: 0;
  left: 0;
  right: 0;
  border-bottom-left-radius: 29px;
  border-bottom-right-radius: 29px;
}

@media (max-width: 768px) {
  .custom-card:before {
    height: 102px;
  }
}

@media (max-width: 600px) {
  .custom-card:before {
    height: 88px;
  }
}

.related-quiz {
  border: 0;
  text-transform: capitalize;
  padding: 5px 15px;
  border-radius: 22px;
  color: #fff;
  -webkit-box-shadow: 1px 3px 7px #00000082;
          box-shadow: 1px 3px 7px #00000082;
  margin: 0 5px;
  margin-bottom: 15px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background: linear-gradient(316deg, #fbb052, #ff1f94);
}

.related-quiz:hover {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

.related-quiz h3 {
  color: #f1f1f1;
}

.authentication {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.authentication .content {
  min-width: 320px;
}

.authentication .content .form_tab .form-group {
  display: inline;
}

.authentication .content .form_tab input {
  margin-right: 5px;
  margin-top: 10px;
}

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1200px;
  }
}

.sectionBar {
  background: linear-gradient(320deg, #fbb052, #ff1f94);
  color: #fff;
}

ul {
  margin: 0px;
  padding: 0px;
}

.footer-section {
  background: #151414;
  position: relative;
}

.footer-cta {
  border-bottom: 1px solid #373636;
}

.single-cta i {
  color: #ed2993;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}

.cta-text {
  padding-left: 15px;
  display: inline-block;
}

.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}

.cta-text span {
  color: #757575;
  font-size: 15px;
}

.footer-content {
  position: relative;
  z-index: 2;
}

.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}

.footer-logo {
  margin-bottom: 30px;
}

.footer-logo img {
  max-width: 200px;
}

.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  color: #7e7e7e;
  line-height: 28px;
}

.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}

.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}

.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}

.facebook-bg {
  background: #3B5998;
}

.twitter-bg {
  background: #55ACEE;
}

.google-bg {
  background: #FF002D;
}

.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}

.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ed2993;
}

.footer-widget ul li {
  display: block;
  float: left;
  width: 100%;
  margin-bottom: 12px;
}

.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
  text-decoration: none;
}

.footer-widget ul li a:hover {
  color: #ed2993;
  text-decoration: underline;
}

.subscribe-form {
  position: relative;
  overflow: hidden;
}

.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
}

.subscribe-form button {
  position: absolute;
  right: 0;
  background: #ed2993;
  padding: 13px 20px;
  border: 1px solid #ed2993;
  top: 0;
}

.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  -webkit-transform: rotate(-6deg);
          transform: rotate(-6deg);
}

.copyright-area {
  background: #202020;
  padding: 25px 0;
}

.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}

.copyright-text p a {
  color: #ed2993;
}

.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}

.footer-menu li:hover a {
  color: #ed2993;
}

.footer-menu li a {
  font-size: 14px;
  color: #878787;
}

@media (max-width: 768px) {
  .customControl div {
    border-left-color: transparent !important;
    border-right-color: transparent !important;
  }
  .customControl div:nth-child(1) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .customControl div:nth-child(2) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .customControl div:nth-child(3) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.form-section {
  padding-left: 15px;
  border-left: 2px solid #e91e63;
  display: none;
}

.form-section.current {
  display: inherit;
}

.btn-info,
.btn-default {
  margin-top: 10px;
}

html.codepen body {
  margin: 1em;
}

.text-grad {
  text-align: center;
  font-size: 26px;
  background: -webkit-linear-gradient(45deg, #37829d, #e03074);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: inherit;
  margin-bottom: 0;
  letter-spacing: 10px;
  text-transform: uppercase;
}

.list-group-item.active {
  background-color: #ee6196;
  border-color: #ed337c;
}

text {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  pointer-events: none;
  color: #fff !important;
}

#chart {
  position: relative;
  width: 650px;
  margin: 0 auto;
}

@media (max-width: 600px) {
  #chart {
    width: unset !important;
    overflow: hidden;
  }
  #chart svg {
    -webkit-transform: scale(0.7) translate(-89px, -132px);
            transform: scale(0.7) translate(-89px, -132px);
  }
}

@media (max-width: 425px) {
  #chart svg {
    -webkit-transform: scale(0.5) translate(-288px, -341px);
            transform: scale(0.5) translate(-288px, -341px);
  }
}

@media (max-width: 375px) {
  #chart svg {
    -webkit-transform: scale(0.5) translate(-345px, -369.7px);
            transform: scale(0.5) translate(-345px, -369.7px);
  }
}

@media (max-width: 320px) {
  #chart svg {
    -webkit-transform: scale(0.4) translate(-496px, -529.7px);
            transform: scale(0.4) translate(-496px, -529.7px);
  }
}

#question {
  position: relative;
  margin: 0 auto;
  width: 95%;
}

@media (max-width: 320px) {
  #question {
    width: 100%;
  }
}

.spinner_body {
  background-color: #d30381;
  background-image: linear-gradient(169deg, #d30381 0%, #F7CE68 100%);
}

.table-bg {
  background: #ffffff80;
  border-radius: 5px;
  overflow: hidden;
}

@media (max-width: 600px) {
  .table-bg {
    margin-top: -35%;
  }
}

@media (max-width: 425px) {
  .table-bg {
    margin-top: -84%;
  }
}

@media (max-width: 375px) {
  .table-bg {
    margin-top: -109%;
  }
}

@media (max-width: 320px) {
  .table-bg {
    margin-top: -148%;
  }
}

#winner {
  position: absolute;
  top: 41px;
  bottom: 0;
  padding: 50px;
  background: #ed4083f7;
  z-index: 3;
  width: 100%;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 2.3rem;
  -webkit-box-shadow: -4px 15px 20px 10px #00000029;
  box-shadow: -4px 15px 20px 10px #00000029;
}

#winner:empty {
  display: none;
}

#winner:after {
  content: 'x';
  height: 36px;
  width: 35px;
  position: absolute;
  top: -1px;
  right: 13px;
  cursor: pointer;
}

@media (max-width: 991px) {
  .login-control {
    display: none;
  }
}

.authentication {
  display: none;
}

@media (max-width: 991px) {
  .authentication {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 6px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: linear-gradient(298deg, #ff2c76 -3%, #ef6b9c, #ff2f73);
  }
  .authentication a {
    margin: 3px;
    background-color: #ee6095;
    padding: 5px 12px;
    color: #fff;
    border: 1px solid #ef9fbc;
    border-radius: 5px;
    font-size: 13px;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .authentication a:hover {
    background: #fff;
    color: #e91e63;
  }
}

.login-invisible {
  display: none;
}

@media (max-width: 768px) {
  .login-invisible {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .login-invisible .nav-link {
    background: #f578a6;
    color: #f6f7f8 !important;
    margin: 2px 2px !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.login-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background: url("/images/doodles.png");
}

.login-panel .box {
  text-align: center;
  width: 380px;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-shadow: 1px 2px 20px 15px #0000000f;
          box-shadow: 1px 2px 20px 15px #0000000f;
  border-radius: 10px;
  background: #fff;
}

.login-panel .box h3 {
  color: #FC5252;
}

.login-panel .box .social {
  font-size: 28px;
  margin: 7px 0 17px;
}

.login-panel .box a {
  color: #FC5252;
}

.login-panel .box input.form-control {
  background: #F4F5F6;
  border-radius: 5px;
  border-color: #D3E1E5;
  font-size: 15px;
}

.login-panel .box input.form-control::-webkit-input-placeholder {
  color: #919191;
  font-size: 15px;
}

.login-panel .box input.form-control:-ms-input-placeholder {
  color: #919191;
  font-size: 15px;
}

.login-panel .box input.form-control::-ms-input-placeholder {
  color: #919191;
  font-size: 15px;
}

.login-panel .box input.form-control::placeholder {
  color: #919191;
  font-size: 15px;
}

.login-panel .form-group {
  margin-bottom: 1rem;
}

.btn-custom {
  background-color: #e91e63;
  width: 90%;
  border-radius: 5px;
  color: #f5e8ec;
  font-weight: bold;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn-custom.btn-outline {
  border: 2px solid #e91e63;
  background-color: transparent;
  color: #e91e63;
}

.btn-custom.btn-outline:hover {
  color: #0c0c0b;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.btn-custom:hover {
  color: #fff;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.cover-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  background: linear-gradient(45deg, #dad2d5, #ffeadc);
}

@media (max-width: 768px) {
  .cover-video {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

@media (max-width: 600px) {
  .right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.right .top {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
}

.right .top .item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.right .bottom {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
}

.right .bottom .item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.trending {
  padding: 52px 30px;
  position: relative;
}

.trending .control {
  position: absolute;
  right: 3px;
  width: 76px;
  height: 0;
  top: 70px;
}

.trending .swiper-container {
  width: 100%;
  height: auto;
  margin-top: 25px;
}

.trending .swiper-slide {
  color: #000;
  text-align: center;
  padding: 0px;
}

.trending .swiper-wrapper {
  height: auto;
}

.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after {
  content: '\00203A' !important;
  color: #fff !important;
  background: #e91e63 !important;
  vertical-align: middle;
  font-family: auto !important;
  padding-bottom: 5px !important;
  line-height: 0 !important;
  height: 28px;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 25px !important;
}

.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-next:after {
  content: "‹" !important;
  color: #fff !important;
  background: #e91e63 !important;
  vertical-align: middle;
  font-family: auto !important;
  padding-bottom: 5px !important;
  line-height: 0 !important;
  height: 28px;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 25px !important;
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  left: -7px !important;
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  right: 25px !important;
}

.title-trend {
  margin-bottom: 30px;
  background: linear-gradient(45deg, #e92a63 91%, transparent 0%);
  padding: 9px 15px;
  border-radius: 6px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}

@media (max-width: 768px) {
  .order-control .firstRow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .order-control .firstRow div:nth-child(2) {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .order-control .firstRow div:nth-child(3) {
    display: none;
  }
  .order-control .text-grad {
    margin-top: 18px;
    -webkit-animation: text 2s forwards infinite;
            animation: text 2s forwards infinite;
  }
  /* hasib css code */
  .mobileheight{
      display: none !important;
  }
}

@-webkit-keyframes text {
  0% {
    letter-spacing: 2px;
  }
  25% {
    letter-spacing: 5px;
  }
  50% {
    letter-spacing: 10px;
  }
  75% {
    letter-spacing: 5px;
  }
  100% {
    letter-spacing: 2px;
  }
}

@keyframes text {
  0% {
    letter-spacing: 2px;
  }
  25% {
    letter-spacing: 5px;
  }
  50% {
    letter-spacing: 10px;
  }
  75% {
    letter-spacing: 5px;
  }
  100% {
    letter-spacing: 2px;
  }
}
/*# sourceMappingURL=app.css.map */
/* hasib created code */
#accordion .panel-heading {
  height: 40px;
}
.myFirebidder .panel-title {
  background: linear-gradient(
316deg
, #fbb052, #ff1f94);
  font-size: 15px;
}
.myFirebidder .panel-title a {
  color: #fff;
  padding: 11px 20px;
  display: block;
  font-weight: bold;
  text-decoration: none;
}
.myFirebidder .inner {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.myFirebidder .inner a {
  padding: 11px 20px;
  font-size: 15px;
  font-weight: bold;
  color: black;
  text-decoration: none;
}


